body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jaini Purva", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
h3{
    font-size: 48px;
}
a{
    text-decoration: none;
    color: #0a0a0a;
}
section{
    background-color: #d2b1f5;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#carts{
    width: 100%;
    background-color: #dfaff6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartInfo{
    margin-top: 3vh;
    width: 50vw;
    background-color: #dda4f1;
}
.cart{
    margin-top: 1px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efa8e4;
}
.recipeInfo{
    background-color: #fcdc98;
}

.recipeName{
    background-color: #fcc37d;
    font-size: 32px;
}
.userInfo{
    margin-top: 10px;
    height: 35vh;
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #be8afd;
}
#userDetails{
    margin: 0;
    height: 75vh;
}