.user{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.id{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: #93ee8b;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 180px;
    background-color: #e79ea7;
}
.age{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: #e8a3dc;
}