.content{
    height: 100px;
    width: 100%;
    margin: 5px;
    background-color: #ee2d8e;
    font-size: 18px;
    color: #151212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.block{
    margin-right: 2px;
    width: 48%;
    height: 90%;
    background-color: #e37070;
}
.courses{
    height: 800px;
    width: 300px;
    margin: 5px;
    background-color: #a258ea;
    font-size: 18px;
    color: #2c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.item{
    width: 450px;
    margin: 5px;
    background-color: #ea58b7;
    font-size: 18px;
    color: #2c0c0c;
}
.heading{
    color: #1253b0;
    font-size: 10px;
}
.description{
    color: #3551c5;
}
.member{
    background-color: #a258ea;
    margin: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.list1{
    background-color: #e3d88b;
}
.simpsonsInfo{
    background-color: #ffa15e;
}
.simpsonBlocks{
    margin: 5px;
    background-color: #f39d9d;
}
.coursesAndDirection{
    margin: 0;
    background-color: #b9f3e4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.title{
    margin-top: 3vh;
    margin-bottom: 1vh;
    height: 10vh;
    background-color: #c227e5;
    width: 94vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monthDuration{
    height: 10vh;
    width: 35vw;
    background-color: #d063e7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hourDuration{
    margin-left: 1vw;
    height: 10vh;
    width: 58vw;
    background-color: #d063e7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modules{
    margin: 1vh 1vw 1vh 1vw;
    height: 10vh;
    background-color: #da79ee;
    width: 94vw;
    display: flex;
    justify-content: center;
    align-items: center;
}