.content{
    height: 100px;
    width: 300px;
    margin: 5px;
    background-color: #ee2d8e;
    font-size: 18px;
    color: #151212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.courses{
    height: 800px;
    width: 300px;
    margin: 5px;
    background-color: #a258ea;
    font-size: 18px;
    color: #2c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.item{
    width: 450px;
    margin: 5px;
    background-color: #ea58b7;
    font-size: 18px;
    color: #2c0c0c;
}
.heading{
    color: #1253b0;
    font-size: 10px;
}
.description{
    color: #3551c5;
}
.member{
    background-color: #a258ea;
    margin: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.list1{
    background-color: #e3d88b;
}